.metanav        { text-align: right; font-size: 0.8em; padding: 0.3em;
                  margin-bottom: 1em; background: #fafafa; }
.flash { 
	padding: 1em; 
	position: absolute; 
	z-index: 10; 
	top: 0;
	right: 0;
	border: 1px solid #ccc;
}

.control-panel {
	max-height: calc(100vh - 80px);
	overflow-y: auto;
}

label, select, option, input {
	font-size: 0.85em;
}

.marg {
	padding: 0.5em;
}

.index {
	padding-left: 10px;
}

.article p a {
	width: 10px;
	height: 20px;
	margin-right: 4px;
	padding-right: 4px;
	float: left;
	background: #ddd;
	cursor: pointer;
	text-decoration: none;
}

.article p a:hover {
	background-color: #2E6EF3;
}

.article p a.selected {
	background-color: #008C48;
}

.hl-1 {
	background-color: #CCF5FF;
}

.hl-2 {
	background-color: #66E0FF;
}

.hl-3,
.hl-4,
.hl-5,
.hl-6,
.hl-7,
.hl-8,
.hl-9,
.hl-10,
.hl-11,
.hl-12,
.hl-13,
.hl-14,
.hl-15,
.hl-16,
.hl-17,
.hl-18,
.hl-19,
.hl-20,
.hl-21 {
	background-color: #00A3CC;
}

.options {
	color: #777;
	padding-left: 6px;
	display: none;
	margin-bottom: 3px;
}

textarea {
	height:125px;
	width:90%;
	font-size:0.9em;
}

input[type=button] {
	padding: 4px;
	margin-top:6px;
}

textarea {
	height: 50px;
}

span#unsaved {
	display: none;
	color: #F00;
	font-size: 0.7em;
}

.article p {
	display: block;
	padding: 2 0px;
}

p.meta {
	padding: 0 0 10 10px;
	color: #666;
}

.infobox {
  padding: 6px;
  border: 1px solid #000;
  display:block;
}

.varblock {
	padding: 4 0px;
	text-align: right;
	width: 100%;
	display: block;
}

div.sectiontitle {
	border-bottom: 1px solid #ccc;
	line-height: 0.8em;
}

div.sectiontitle span,
span.instructions {
	font-weight: bold;
	font-size: 0.85em;
}

#addeventblock .sectiontitle,
.sectiontitle#event_desc {
	text-align: right;
}

div.vartitle {
	border-bottom: 1px solid #eee;
	line-height: 0.8em;
}

.vartitle span {
	font-weight: bold;
	font-size: 0.85em;
}

.varhide {
	font-size: 0.8em;
	color: #777;
	display: inline;
	float:left;
}

.varlist {
	border-top: 1px solid #eee;	
}

.varlist li,
.varlist p {
	list-style-type: none;
	padding: 0;
	margin: 0;
	font-size: 0.8em;
	color: #777;
}

label.form-check-label {
	color: #777;
	font-weight: normal;
	margin: 0px;
}

.preset-scrollable {
    height: 350px;
    overflow-y:auto;
}

.varblock p:hover {
	background-color: #eee;
}

table#haystack td {
	font-size: 0.9em;
}

table.coder-stats {
	font-size: 0.85em;
}

.yes {
	background-color: #DFF0D8;
}

.no {
	background-color: #F0D6D6;
}

.maybe {
	background-color: #FCF8E3;
}

#varselect p {
	font-size: 0.9em;
}

#secondpassinfo ul {
	margin-left: -25px;
}

.vartitle {
	text-align: right;
}

div.event-item {
    display: flex;
    margin: 6px auto;
}

.event-desc {
    overflow: hidden;
    text-overflow: ellipsis;
    height: 80px;
    width: 220px;
    border: 1px solid #CCC;
    border-radius: 5px;
}

.event-desc:hover {
    background-color: #E2E3E5;
}

.event-desc.selected {
    background-color: #CCE5FF;
}

div.icons {
    float: left;
    width: 30px;
    margin-right: 6px;
    line-height: 1.2em;
}

.code2-event label,
.code2-event input[type=textbox] {
	line-height: 0.7em;
	padding: 0 0 1 0px;

}
.event-block label a.glyphicon, 
a.glyphicon:visited {
	font-size: 0.9em;
	line-height: 0.8em;
}

.infolist {
	font-size: 0.85em;
}

.infolist li {
	color: #555;
}

div#skippingDiv p a {
	cursor: pointer;
}

div#skippingDiv p {
	padding: 4 0 4 10px;
}

div.users {
	border-left: 1px solid #EEE;
}

table#code2queue {
	width: 75%;
}

table#code2queue tr {
	border: none;
	padding: 0px;
	margin: 0 auto;
}

table#code2queue th {
	font-size: 0.85em;
	border-bottom: 1px solid #DDD;
	text-align: center;
}

table#code2queue td {
	border: none;
	padding: 0px;
	font-size: 0.85em;
	text-align: center;
}

table#code2queue {
	border-right: 1px solid #DDD;
	padding-right: 4px;
}

table#code2queue tr:hover {
	background: #EEE;
}

a.glyphicon, a.glyphicon:visited {
	font-size: 0.9em;
	vertical-align: middle;
	text-align: center;
	margin-bottom: 5px;
	cursor: pointer;
	text-decoration: none;
}

.varblock p .glyphicon:hover {
	color: #FF0000;
	text-decoration: none;
}

.vartitle a.glyphicon:hover {
	color: #00FF00;
	text-decoration: none;
}

.tab-pane {
	margin-top: 3px;
}

#admin-actions {
	padding: 10 16px;
}

textarea.form-control,
input.form-control {
    line-height: 1.2em;
    font-size: 0.85em;
}

textarea.form-control {
    height:80px;
}

.form-control-feedback {
	position: relative;
	width: auto;
	height: auto;
	line-height: 1.4em;
}

ul#tabselecter {
	margin-left: 3px;
	margin-top: 4px;
	background-color: #f1f1f1;
}

ul#tabselecter li a {
	padding: 6px;
}

footer { 
	padding:10px; 
	margin: 10px; 
	border-top: 1px solid #CCC;
	font-size: 0.8em;
}

/* 
	Adjudication variables 
*/
.adj-variable-group, .cand-event-group {
	padding: 6px 0;
}

.cand-event-group {
	max-height: 640px;
	overflow-y: scroll;
}

.adj-variable-group .form-row div {
	margin: 0 -10px;
}

/* span.adj-variable {
	display: inline-block;	
	border: 1px solid #CCC;
	border-radius: 5px;
	margin: 2px 4px;
	padding: 2px;
	font-size: 0.8em;
}
 */
.adj-pane {
	/* padding-right: 2px; */
	border-right: 1px solid #CCC;
}

.info-block {
	margin: 10px;
	padding: 20px;
	text-align: center;
	vertical-align: middle;
	border: #36708D 2px dashed;
	font-size: 1.3em;
}

span.adj-variable:hover {
	background-color: #CCC;
}

div.cand-event-group div.event-desc {
	height: 150px;
	width: auto;
	overflow-y: scroll;
	overflow-x: hidden;
	font-size: 0.85em;
	padding-left: 4px;
	margin: 4px 0;
}

#adj-subtabselecter {
	margin-top: 4px;
}

#expanded-event-view-metadata {
	border-bottom: 1px solid #888;
	/* overflow-x: auto;
    white-space: nowrap; */
}

.expanded-event-view {
	height: 640px;
	overflow-y: scroll;
	overflow-x: hidden;
	/* overflow-x: auto;
    white-space: nowrap; */
}

div.expanded-event-variable-name {
	font-size: 0.8em;
}

div.expanded-event-variable-metadata {
	cursor: not-allowed;
	color: #888;
}

div.expanded-event-variable {
	border: 1px dashed #AAA;
	border-radius: 5px;
	margin: 4px -30px 4px 0;
	padding: 2px;
	font-size: 0.8em;
	background-color: #EEE;
	width: 100%;
	display: block;
	max-height: 100px;
	overflow-y: scroll;	
}

div.canonical {
	margin-left: 5px;
	background-color: #CCE5FF;
}

div.canonical-dummy {
	margin-left: 5px;
	background-color: #E2EFDA; 
}

.data-buttons {
	float: right;
}

div.expanded-event-variable-group {
	margin-bottom: 4px;
	border-bottom: 1px solid #CCC;
}

div.expanded-event-variable-col {
	padding-right: 0 !important;
}