{% set cand_buttons = [
    ('plus-sign', 'Add all values', 'add-all-val'), 
    ('link', 'Link to canonical event', 'link'), 
    ('flag', 'Flag for later', 'flag'), 
    ('check', 'Mark completed', 'completed'), 
    ('remove-sign', 'Remove from grid', 'remove-candidate')
] -%}
<div id="expanded-event-view-metadata" class="sticky-top">
    <div class="row expanded-event-variable-group">
        <div class="col-sm-1 expanded-event-variable-name">metadata</div>
        {% for event_id in cand_events.keys()|sort %}
        <!-- Candidate Event Metadata -->
        <div class="col-sm-2 expanded-event-variable-col candidate-event" 
            id="candidate-event-metadata_{{ event_id }}">
            <label>
                Event {{ event_id }} <br/> 
                Actions: 
                {% for symbol, alt, opt in cand_buttons %}
                    <a class="glyphicon glyphicon-{{ symbol }} {{ opt }}" title="{{ alt }}" ></a> 
                {% endfor %}
            </label> 
            <div class="expanded-event-variable expanded-event-variable-metadata" 
                id="expanded-event-metadata_{{ event_id }}">
                <b>title:</b> {{ cand_events[event_id]['title'] | safe }}<br/>
                <b>publication:</b> {{ cand_events[event_id]['publication'] | safe }}<br/>
                <b>pub_date:</b> {{ cand_events[event_id]['pub_date'] }}<br/>
                <b>article_id:</b>
                    <a href="{{ url_for('eventCreator', aid = cand_events[event_id]['article_id']) }}"
                     target="_blank">
                        {{ cand_events[event_id]['article_id'] }}
                    </a><br/>
                <b>coder:</b> {{ cand_events[event_id]['coder_id'] }} <br/>
            </div>
        </div>
        {% endfor %}
        <!-- Canonical Event Metadata -->
        <div class="col-sm-2 expanded-event-variable-col canonical-event canonical-event-metadata"
             id="canonical-event-metadata_{{ canonical_event['id'] }}" 
             data-key="{{ canonical_event['key'] }}">
            <label>Canonical Event 
                <a class="glyphicon glyphicon-trash" href="#" title="Delete canonical event"></a>
                <a class="glyphicon glyphicon-remove-sign" href="#" title="Remove from grid"></a>
            </label>
            {% for var in ['key', 'notes', 'status'] %}
            <div class="expanded-event-variable expanded-event-variable canonical" id="expanded-event-canonical-{{ var }}">
                <div class="sticky-top data-buttons">
                    <a class="glyphicon glyphicon-pencil" title="Edit"></a> 
                    <a class="glyphicon glyphicon-info-sign" title="Info"></a>
                </div>
                <b>{{ var|title }}: </b> {{ canonical_event[var]|safe }}<br />
            </div>
            {% endfor %}                        
        </div>
    </div>
</div>
<div class="expanded-event-view">
    {% for var in grid_vars %} 
    <div class="row expanded-event-variable-group">
        <div class="col-sm-1 expanded-event-variable-name">{{ var }} 
            <a class="glyphicon glyphicon-plus" title="Add new value for this field" href=""></a>
        </div>
        <!-- Candidate Event Fields -->
        {% for event_id in cand_events.keys()|sort %}
            <div class="col-sm-2 expanded-event-variable-col">
            {% if cand_events[event_id][var]|length > 0 %}
            {% for value, id, timestamp in cand_events[event_id][var] %}
                <div class="expanded-event-variable" id="{{ var }}_{{ event_id }}">
                    <div class="sticky-top data-buttons">
                        <a class="glyphicon glyphicon-plus add-val" 
                           title="Add to canonical event" 
                           data-key="{{ id }}"></a>
                        <a class="glyphicon glyphicon-info-sign"
                           title="Edited on {{ timestamp }}"></a>
                    </div>
                    <div class="expanded-event-value">{{ value | safe }}</div>
                </div>
            {% endfor %}
            {% else %}
                <div class="expanded-event-variable text-muted">(None)</div>
            {% endif %}
            </div>
        {% endfor %}
        <!-- Canonical Event Fields -->
        <div class="col-sm-2 expanded-event-variable-col canonical-event" id="canonical-event_{{ var }}">
            {% if canonical_event and canonical_event[var]|length > 0 %}
            {% for value in canonical_event[var] %}
                {% include 'canonical-cell.html' %}
            {% endfor %}
            {% else %}
                <div class="expanded-event-variable canonical text-muted">(None)</div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>