<div class="cand-event-group">                
    {% for e in events %}
    <div class="event-desc" id="cand-event_{{ e.event_id }}" data-event="{{ e.event_id }}">
        <div class="row">
            <div class="col-sm-6">
                <b>start_date:</b> {{ e.start_date }}</br>
                <b>location:</b> {{ e.location | safe }}<br/>
                <b>title:</b> {{e.title | safe }}<br/>
            </div>
            <div class="col-sm-3">
                <b>event_id:</b> {{ e.event_id }}<br/>
                <b>article_id:</b> 
                    <a href="{{ url_for('eventCreator', aid = e.article_id) }}"
                       target="_blank"
                       title="{{ e.publication }} ({{ e.pub_date }}) --- {{ e.article_desc|safe }}">{{e.article_id}}</a><br/>
                <b>coder:</b> {{ e.coder_id }} <br/>
            </div>
            <div class="col-sm-3">
                <p class="flags">
                {% if e.event_id in flags %}
                    {% if flags[e.event_id] == 'for-review' %}
                        Flag: <b class="text-danger">for-review</b>
                    {% elif flags[e.event_id] == 'completed' %}
                        Flag: <b class="text-success">completed</b>
                    {% endif %}
                {% else %}
                    No flags
                {% endif %}
                </p>
                <a href="#" class="cande-makeactive">
                    <b>Add to grid <span class="glyphicon glyphicon-export"></span></b>
                </a>
                <b class="cande-isactive text-muted" style="display:none;">In the grid</b>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <b>desc:</b> {{ e.desc | safe }}<br/>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<!-- <nav aria-label="cand-event-pagination">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
            </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
</nav> -->