<div class="row form-row">
    <div class="col-sm-4">
        <select class="form-control"
                name="adj-sort-field"
                id="adj-sort-field">
            <option value="">---</option>
            {% for field in filter_fields %}
              <option>{{ field }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-sm-4">
        <select class="form-control" 
            name="adj-sort-order"
            id="adj-sort-order">
            <option value="asc">ascending</option>
            <option value="desc">descending</option>
        </select>
    </div>
    <div class="col-sm-1">
        <a id="adj-sort-button" class="btn btm-primary glyphicon glyphicon-{{ 'minus' if is_addition else 'plus' }}"></a>
    </div>
</div>