{% extends "layout.html" %}
{% block body %}
{% set buttons = ['info-sign', 'plus', 'pencil', 'chevron-down'] -%}
<script src="{{ url_for('static', filename='shared.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='adj.js') }}" type="text/javascript"></script>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
        <div class="error" id="flash-error" style="display:none;"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-5 adj-pane" id="adj-pane-cand-events">
        <a id="cand-events-hide" href="#">&laquo; Hide Pane</a>
        <h4>Event Selection</h4>
        <ul class="nav nav-tabs" id="adj-tabselecter">
            <li class="tablinks active" id="filters_button">
                <a href="#">Filters</a>
            </li>
            <li class="tablinks" id="cand_button">
                <a href="#">Candidate Events</a>
            </li>
            <li class="tablinks" id="canon_button">
                <a href="#">Canonical Events</a>
            </li>
            <li class="tablinks" id="relationships_button">
                <a href="#">Relationships</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane" id="filters_block">
                <div id="adj-filters">
                    <label>Filters</label>
                    <div class="adj-variable-group">
                        <span class="adj-variable"><code>location</code> contains 'Chicago' <a class="glyphicon glyphicon-remove"></a></span>
                        <span class="adj-variable"><code>start_date</code> &gt;= '2016-05-24' <a class="glyphicon glyphicon-remove"></a></span> 
                    </div>
                </div>
                <div id="adj-sorting">
                    <label>Sort</label>
                    <div class="adj-variable-group">    
                        <span class="adj-variable"><code>location</code> asc <a class="glyphicon glyphicon-remove"></a></span>
                        <span class="adj-variable"><code>start_date</code> desc <a class="glyphicon glyphicon-remove"></a></span> 
                    </div>
                </div>
                <hr />
                <label>Add filters</label>
                <form> 
                    <div class="form-row">
                        <div class="form-group col-sm-6">
                            <input class="form-control form-control-sm " 
                                   name="filter-field" 
                                   type="text" 
                                   placeholder = "Field..."/>
                        </div>
                        <div class="form-group col-sm-6">
                            <select class="form-control form-control-sm" name="filter-compare">
                              <option>equals</option>
                              <option>is greater than</option>
                              <option>is greater than or equal to</option>
                              <option>is less than</option>
                              <option>is less than or equal to</option>
                              <option>contains</option>
                              <option>starts with</option>
                              <option>ends with</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-sm-10">
                            <input class="form-control form-control-sm" 
                                   name="filter-text" 
                                   type="text" 
                                   placeholder = "Filter Text"/>
                        </div>
                        <div class="form-group col-sm-2">
                            <button type="submit" class="btn btm-primary">Add <span class="glyphicon glyphicon-plus"></span></button>
                        </div>
                    </div>
                </form>

                <label>Add sorting fields</label>
                <form> 
                    <div class="form-row">
                        <div class="form-group col-sm-5">
                            <input class="form-control form-control-sm" 
                                   name="sort-field" 
                                   type="text" 
                                   placeholder = "Sort field..."/>
                        </div>
                        <div class="form-group col-sm-5">
                            <select class="form-control form-control-sm" name="sort-field-asc">
                                <option>ascending</option>
                                <option>descending</option>
                            </select>
                        </div>

                        <div class="form-group col-sm-2">
                            <button type="submit" class="btn btm-primary">Add <span class="glyphicon glyphicon-plus"></span></button>
                        </div>
                    </div>
                </form> 
                <hr/>
                <label>Saved search terms</label>
                <div id="adj-filters">
                    <div class="adj-variable-group">
                        <span class="adj-variable"><code>location</code> starts with 'Berkeley' <a class="glyphicon glyphicon-plus"></a></span>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="cand_block">
                <ul class="nav nav-pills nav-justified" id="adj-subtabselecter">
                    <li class="subtablinks active nav-item" id="cand-search_button">
                        <a href="#">Search</a>
                    </li>
                    <li class="subtablinks nav-item" id="cand-recent_button">
                        <a href="#">Recent</a>
                    </li>
                </ul>
                <div class="subtab-pane" id="cand-search_block">
                    <div class="cand-event-group">                
                        {% for e in events %}
                        <div class="event-desc" id="cand-event_{{ e }}">
                            <div class="row">
                                <div class="col-sm-6">
                                    <b>start_date:</b> {{e.start_date}}</br>
                                    <b>location:</b> {{e.location | safe }}<br/>
                                    <b>title:</b> {{e.title | safe }}<br/>
                                </div>
                                <div class="col-sm-3" id="cand-event-metadata_21644">
                                    <b>event_id:</b> {{ e.event_id }}<br/>
                                    <b>article_id:</b> 
                                        <a href="http://cliff.ssc.wisc.edu/campus_protest_dev/event_creator/{{e.article_id}}" 
                                           target="_blank"
                                           title="{{ e.publication }} ({{ e.pub_date }}) --- {{ e.article_desc|safe }}">{{e.article_id}}</a><br/>
                                    <b>coder:</b> {{ e.coder_id }} <br/>
                                    <!-- {% if e < 21652 %}
                                        <b class="text-muted">In the expanded view</b> <a href="#" class="glyphicon glyphicon-remove"></a><br/>
                                    {% else %}
                                    {% endif %} -->
                                </div>
                                <div class="col-sm-3" id="cand-event-metadata_21644">
                                    <b><a href="#">Add to Expand <span class="glyphicon glyphicon-plus"></span></a></b><br/>
                                    <b>Flags: <a href="#" class="glyphicon glyphicon-thumbs-up"></a> <a href="#" class="glyphicon glyphicon-thumbs-down"></a></b>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <b>desc:</b> {{ e.desc | safe }}<br/>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <nav aria-label="cand-event-pagination">
                        <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                            </a>
                        </li>
                        </ul>
                    </nav>
                </div>
                <div class="subtab-pane" id="cand-recent_block" style="display:none;">
                    <div class="cand-event-group">                
                        {% for e in (21644, 21646) %}
                        <div class="event-desc" id="cand-event_{{ e }}">
                            <div class="row">
                                <div class="col-sm-8">
                                    <b>start_date:</b> 2016-05-24</br>
                                    <b>location:</b> Chicago, Illinois, USA<br/>
                                    <b>title:</b> Protesters shut down Yiannopoulos speech<br/>
                                    <b>publication:</b> The Depaulia: DePaul University<br/>
                                    <b>pub_date:</b> 2016-05-24<br/>
                                </div>
                                <div class="col-sm-4" id="cand-event-metadata_21644">
                                    <b>event_id:</b> {{ e }}<br/>
                                    <b>article_id:</b> <a href="http://cliff.ssc.wisc.edu/campus_protest_dev/event_creator/6628" target="_blank">6628</a><br/>
                                    <b>coder:</b> amritpal <br/>
                                    {% if e < 21652 %}
                                        <b class="text-muted">In the expanded view</b> <a href="#" class="glyphicon glyphicon-remove"></a><br/>
                                    {% else %}
                                        <b><a href="#">Add to Expand <span class="glyphicon glyphicon-plus"></span></a></b><br/>
                                    {% endif %}
                                    <b>Flags: <a href="#" class="glyphicon glyphicon-thumbs-up"></a> <a href="#" class="glyphicon glyphicon-thumbs-down"></a></b>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <!-- <b>article_desc:</b> Article reports on a talk by Milo Yiannopoulos being disrupted by protestors. The article does not provide a protest issue explaining why the disruption took place. The article explains that after the disruption shut down the event, Yiannopoulos marched around campus with his supporters. The article mentions that Yiannopoulos attempted to address the crowd while marching, but continued to be drowned out, suggesting that protestors followed Yiannopoulos and continued to disrupt him during the march. The article also mentions that earlier in the day, students held a 'counter rally' during which they voiced concerns about ongoing issues of racism on campus. However, the article does not explain who the protestors were countering. <br/> -->
                                    <b>desc:</b> Protesters disrupted an event held by Milo Yiannopoulos. A group of protesters stormed the stage and interrupted Yiannopoulos, blowing whistles, and speaking out against Yiannopoulos. A group of about 100 protesters stood outside the doors of the event. Police were called to the Student Center and arrived soon after, but didn't intervene. Protestors followed Yiannopoulos as he marched around campus to protest the disruption, and continued to be drowned out by noise. <br/>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="canon_block">
                <div class="cand-event-group">
                    <label>Search keys</label>
                    <form> 
                        <div class="form-row">
                            <div class="form-group">
                                <input class="form-control form-control-sm" 
                                       name="search-key" 
                                       type="text" 
                                       placeholder = "Key..."/>
                            </div>    
                        </div>
                    </form>                     
                    <nav aria-label="cand-event-pagination">
                        <ul class="pagination">
                          <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                              <span aria-hidden="true">&laquo;</span>
                              <span class="sr-only">Previous</span>
                            </a>
                          </li>
                          <li class="page-item"><a class="page-link" href="#">1</a></li>
                          <li class="page-item"><a class="page-link" href="#">2</a></li>
                          <li class="page-item"><a class="page-link" href="#">3</a></li>
                          <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                              <span aria-hidden="true">&raquo;</span>
                              <span class="sr-only">Next</span>
                            </a>
                          </li>
                        </ul>
                    </nav>
                    <div class="event-desc" id="canon-event_21644">
                        <div class="row">
                            <div class="col-sm-8">
                                <b>title:</b> Protesters shut down Yiannopoulos speech<br/>
                                <b>publication:</b> The Depaulia: DePaul University<br/>
                                <b>pub_date:</b> 2016-05-24<br/>
                                <b>start_date:</b> 2016-05-24</br>
                                <b>location:</b> Chicago, Illinois, USA
                            </div>
                            <div class="col-sm-4" id="cand-event-metadata_21644">
                                <b>Key:</b> Milo_Chicago_2016<br/>
                                <b>Status:</b> Done<br/>
                                <b>Last edited:</b> 2021-07-26 13:11:00<br/>
                                <b><a href="#">Edit <span class="glyphicon glyphicon-pencil"></span></a></b>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <b>article_desc:</b> Article reports on a talk by Milo Yiannopoulos being disrupted by protestors. The article does not provide a protest issue explaining why the disruption took place. The article explains that after the disruption shut down the event, Yiannopoulos marched around campus with his supporters. The article mentions that Yiannopoulos attempted to address the crowd while marching, but continued to be drowned out, suggesting that protestors followed Yiannopoulos and continued to disrupt him during the march. The article also mentions that earlier in the day, students held a 'counter rally' during which they voiced concerns about ongoing issues of racism on campus. However, the article does not explain who the protestors were countering. <br/>
                                <b>desc:</b> Protesters disrupted an event held by Milo Yiannopoulos. A group of protesters stormed the stage and interrupted Yiannopoulos, blowing whistles, and speaking out against Yiannopoulos. A group of about 100 protesters stood outside the doors of the event. Police were called to the Student Center and arrived soon after, but didn't intervene. Protestors followed Yiannopoulos as he marched around campus to protest the disruption, and continued to be drowned out by noise. <br/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="relationships_block">
                <label>Add relationship</label> 
                <form> 
                    <div class="form-row">
                        <div class="form-group col-sm-3">
                            <input class="form-control form-control-sm" 
                                name="search-key-1" 
                                type="text" 
                                placeholder = "Key 1..."/>
                        </div>
                        <div class="form-group col-sm-3">
                            <input class="form-control form-control-sm" 
                                name="search-key-2" 
                                type="text" 
                                placeholder = "Key 2..."/>
                        </div>
                        <div class="form-group col-sm-4">
                            <select class="form-control form-control-sm" name="relationship-type">
                                <option>Campaign</option>
                                <option>Sub-event</option>
                                <option>Counterprotest</option>
                                <option>Solidarity</option>
                                <option>Coordinated</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-2">
                            <button type="submit" class="btn btm-primary">Add <span class="glyphicon glyphicon-plus"></span></button>
                        </div> 
                    </div>
                </form>
                <hr />
                <div class="form-row">
                    <label>View hierarchy</label> </br>
                    <div class="form-group col-sm-8">
                        <input class="form-control form-control-sm" 
                            name="view-key" 
                            type="text" 
                            placeholder = "Key..."/>
                    </div>
                    <p>
                        <img src="static/example-event-hierarchy.png" width="50%"/>                        
                    </p>
                </div>
            </div>     
        </div>
    </div>
    <div class="col-sm-7 adj-pane" id="adj-pane-expanded-view">
        <a id="cand-events-show" style="display:none;" href="#">Show Events &raquo;</a>
        <h4>Expanded Event View</h4>
        <div class="expanded-event" id="expanded-event_21644">
            <div class="row expanded-event-variable-group">
                <div class="col-sm-1 expanded-event-variable-name">metadata</div>
                {% for event_id in grid_query %}
                <div class="col-sm-{{ grid_width }} expanded-event-variable-col">
                    <label>
                        Event {{ event_id }} <a href="#" class="glyphicon glyphicon-remove-sign" title="Remove from grid"></a>
                        <a href="#" class="glyphicon glyphicon-plus" title="Add all values"></a>
                    </label> 
                    <div class="expanded-event-variable expanded-event-variable-metadata" id="expanded-event-metadata_21644">
                        <b>title:</b> {{ grid_events[event_id]['title'] | safe }}<br/>
                        <b>publication:</b> {{ grid_events[event_id]['publication'] | safe }}<br/>
                        <b>pub_date:</b> {{ grid_events[event_id]['pub_date'] }}<br/>
                        <b>article_id:</b> 
                            <a href="http://cliff.ssc.wisc.edu/campus_protest_dev/event_creator/{{ grid_events[event_id]['article_id'] }}" target="_blank">
                                {{ grid_events[event_id]['article_id'] }}
                            </a><br/>
                        <b>coder:</b> {{ grid_events[event_id]['coder_id'] }} <br/>
                    </div>
                </div>
                {% endfor %}
                <div class="col-sm-{{ grid_width }} expanded-event-variable-col">
                    <label>Canonical Event <a class="glyphicon glyphicon-trash" href="#" title="Delete canonical event"></a></label>
                    <div class="expanded-event-variable expanded-event-variable canonical" id="expanded-event-canonical-key_1">
                        <div class="sticky-top data-buttons">
                            <a class="glyphicon glyphicon-pencil" title="Edit"></a> <a class="glyphicon glyphicon-info-sign" title="Info"></a>
                        </div>
                        <b>Key: </b> Milo_Chicago_2016<br />
                    </div>
                    <div class="expanded-event-variable expanded-event-variable canonical">
                        <div class="sticky-top data-buttons">
                            <a class="glyphicon glyphicon-pencil" title="Edit"></a> <a class="glyphicon glyphicon-info-sign" title="Info"></a>
                        </div>
                        <b>Notes: </b>This is the main event for the protest against Milo in Chicago in 2016. This is filler text to try to break this part of it. This is filler text to try to break this part of it. This is filler text to try to break this part of it. This is filler text to try to break this part of it.<br />
                    </div>
                    <div class="expanded-event-variable expanded-event-variable canonical">
                        <div class="sticky-top data-buttons">
                            <a class="glyphicon glyphicon-pencil" title="Edit"></a> <a class="glyphicon glyphicon-info-sign" title="Info"></a>
                        </div>
                        <b>Status: </b>Done<br />
                    </div>
                </div>
            </div>
            {% for var in grid_vars %}
            <div class="row expanded-event-variable-group">
                <div class="col-sm-1 expanded-event-variable-name">{{ var }}</div>
                {% for event_id in grid_query %}
                    <div class="col-sm-{{ grid_width }} expanded-event-variable-col">
                    {% if grid_events[event_id][var]|length > 0 %}
                        {% for value in grid_events[event_id][var] %}
                            <div class="expanded-event-variable grabbable" id="{{ var }}_{{ event_id }}">
                                <div class="sticky-top data-buttons">
                                    {% for b in buttons %}
                                        <a class="glyphicon glyphicon-{{ b }}"></a> 
                                    {% endfor %}
                                </div>
                                {{ value | safe }}
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="expanded-event-variable text-muted">(None)</div>
                    {% endif %}
                    </div>
                {% endfor %}
                <div class="col-sm-{{ grid_width }} expanded-event-variable-col">
                    <div class="expanded-event-variable canonical" id="expanded-event-metadata_canonical">
                        <div class="sticky-top data-buttons">
                            <a class="glyphicon glyphicon-remove" title="Remove"></a> <a class="glyphicon glyphicon-info-sign" title="Info"></a>
                        </div>
                        canonical_placeholder
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
      </div>
  </div>
</div>
{% endblock %}
