{% extends "layout.html" %}
{% block body %}
<script src="{{ url_for('static', filename='shared.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='adj.js') }}" type="text/javascript"></script>
<div class="container-fluid">
  <div class="row">
    <!-- flash -->
    <div class="col-sm-12"><div class="flash" style="display:none;"></div></div>
    <!-- Modal -->
    <div class="modal fade" id="modal-container" tabindex="-1" role="dialog" aria-labelledby="FormModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <!-- Content goes here -->
            </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-5 adj-pane" id="adj-pane-cand-events">
        <a href="{{ url_for('adj', cand_events = '6031,6032,21644,21646', canonical_event_key = 'Milo_Chicago_2016') }}">
            Example page
        </a><br/>
        <a id="cand-events-hide" href="#">&laquo; Hide Pane</a>
        <h4>Event Selection</h4>
        <ul class="nav nav-tabs" id="adj-tabselecter">
            <li class="tablinks active" id="search_button">
                <a href="#">Search</a>
            </li>
            <li class="tablinks" id="cand_button">
                <a href="#">Candidate Events</a>
            </li>
            <li class="tablinks" id="canon_button">
                <a href="#">Canonical Events</a>
            </li>
            <li class="tablinks" id="relationships_button">
                <a href="#">Relationships</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane" id="search_block">
                <div class="adj-variable-group" id="adj-search">
                    <h5>Search</h5>
                    <form>
                      <div class="row form-row">
                        <div class="col-sm-11">
                            <input class="form-control"
                                    name="filter-value" 
                                    type="text" 
                                    placeholder = "Value..."/>
                        </div>
                        <div class="col-sm-1">
                            <button type="submit" class="btn btm-primary"><span class="glyphicon glyphicon-plus"></span></button>
                        </div>
                      </div>
                    </form>
                </div>
                <div class="adj-variable-group" id="adj-filter">
                    <h5>Filter</h5>
                    <form>
                        <div class="row form-row">
                            <div class="col-sm-4">
                                <select class="form-control"
                                        name="filter-field" />
                                    {% for field in filter_fields %}
                                    <option>{{ field }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-4">
                                <select class="form-control"
                                    name="filter-compare">
                                    <option>equals</option>
                                    <option>is greater than</option>
                                    <option>is greater than or equal to</option>
                                    <option>is less than</option>
                                    <option>is less than or equal to</option>
                                    <option>contains</option>
                                    <option>starts with</option>
                                    <option>ends with</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <input class="form-control"
                                        name="filter-value" 
                                        type="text" 
                                        placeholder = "Value..."/>
                            </div>
                            <div class="col-sm-1">
                                <button type="submit" class="btn btm-primary"><span class="glyphicon glyphicon-plus"></span></button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="adj-variable-group" id="adj-sorting">
                    <h5>Sort</h5>
                    <form> 
                        <div class="row form-row">
                            <div class="col-sm-4">
                                <select class="form-control"
                                        name="sort-field" />
                                    {% for field in filter_fields %}
                                    <option>{{ field }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-4">
                                <select class="form-control" 
                                    name="sort-field-asc">
                                    <option>ascending</option>
                                    <option>descending</option>
                                </select>
                            </div>
                            <div class="col-sm-1">
                                <button type="submit" class="btn btm-primary"><span class="glyphicon glyphicon-plus"></span></button>
                            </div>
                        </div>
                    </form> 
                </div>
                <div class="adj-variable-group" id="adj-search-button">
                    <button type="submit" class="btn btm-primary">Search</span></button>
                </div>
            </div>
            <div class="tab-pane" id="cand_block">
                <ul class="nav nav-pills nav-justified" id="adj-subtabselecter">
                    <li class="subtablinks active nav-item" id="cand-search_button">
                        <a href="#">Search</a>
                    </li>
                    <li class="subtablinks nav-item" id="cand-recent_button">
                        <a href="#">Recent</a>
                    </li>
                </ul>
                <div class="subtab-pane" id="cand-search_block">
                    <div class="cand-event-group">                
                        {% for e in search_events %}
                        <div class="event-desc" id="cand-event_{{ e.event_id }}">
                            <div class="row">
                                <div class="col-sm-6">
                                    <b>start_date:</b> {{e.start_date}}</br>
                                    <b>location:</b> {{e.location | safe }}<br/>
                                    <b>title:</b> {{e.title | safe }}<br/>
                                </div>
                                <div class="col-sm-3">
                                    <b>event_id:</b> {{ e.event_id }}<br/>
                                    <b>article_id:</b> 
                                        <a href="{{ url_for('eventCreator', aid = e.article_id) }}"
                                           target="_blank"
                                           title="{{ e.publication }} ({{ e.pub_date }}) --- {{ e.article_desc|safe }}">{{e.article_id}}</a><br/>
                                    <b>coder:</b> {{ e.coder_id }} <br/>
                                </div>
                                <div class="col-sm-3">
                                    {% if e.event_id in cand_events.keys() %}
                                        <b class="text-muted">In the expanded view</b> <br/>
                                    {% else %}
                                        <b><a href="#">Add to Expand <span class="glyphicon glyphicon-plus"></span></a></b><br/>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <b>desc:</b> {{ e.desc | safe }}<br/>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <nav aria-label="cand-event-pagination">
                        <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                            </a>
                        </li>
                        </ul>
                    </nav>
                </div>
                <div class="subtab-pane" id="cand-recent_block" style="display:none;">
                    <div class="cand-event-group">                
                        {% for e in recent_events %}
                        <div class="event-desc" id="recent-cand-event_{{ e.event_id }}">
                            <div class="row">
                                <div class="col-sm-6">
                                    <b>start_date:</b> {{e.start_date}}</br>
                                    <b>location:</b> {{e.location | safe }}<br/>
                                    <b>title:</b> {{e.title | safe }}<br/>
                                </div>
                                <div class="col-sm-3">
                                    <b>event_id:</b> {{ e.event_id }}<br/>
                                    <b>article_id:</b> 
                                        <a href="{{ url_for('eventCreator', aid = e.article_id) }}" 
                                            target="_blank"
                                            title="{{ e.publication }} ({{ e.pub_date }}) --- {{ e.article_desc|safe }}">{{e.article_id}}</a><br/>
                                    <b>coder:</b> {{ e.coder_id }} <br/>
                                </div>
                                <div class="col-sm-3">
                                    <!-- TODO: Logic which chooses the correct one to display upon load. -->
                                    <b class="cande-isactive text-muted">In the expanded view</b><br/>
                                    <b class="cande-makeactive" style="display:none;"></b><a href="#">Add to grid <span class="glyphicon glyphicon-export"></span></a></b>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <b>desc:</b> {{ e.desc | safe }}<br/>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="canon_block">
                <div class="cand-event-group">
                    <h5>Search</h5>
                    <form> 
                        <div class="form-row">
                            <div class="form-group">
                                <input class="form-control form-control-sm" 
                                       name="search-key" 
                                       type="text" 
                                       placeholder = "Key..."/>
                            </div>    
                        </div>
                    </form>
                    <!-- TODO: Change this to be associated with the search key -->
                    {% if canonical_event is not none %}
                    <div class="event-desc" 
                        id="search-canonical-event_{{ canonical_event['id'] }}"
                        data-key="{{ canonical_event['key']|safe }}">
                        <div class="row">
                            <div class="col-sm-8">
                                <b>key:</b> {{ canonical_event['key']|safe }}</br>
                                <b>start_date:</b> {{ canonical_event['start_date'] }}</br>
                                <b>location:</b> {{ canonical_event['location'][0] }}
                            </div>
                            <div class="col-sm-4">
                                <b>Status:</b> {{ canonical_event['status'] }}<br/>
                                <b>Last edited:</b> {{ canonical_event['last_updated'] }}<br/>
                                <b class="ce-isactive text-muted">Current active event</b>
                                <b class="ce-makeactive" style="display:none;">
                                    <a href="#">Make active event <span class="glyphicon glyphicon-export"></span></a>
                                </b>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <b>notes: </b> {{ canonical_event['notes']|safe }}<br/>
                                <b>desc:</b> {{ canonical_event['desc'][0]|safe }}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="tab-pane" id="relationships_block">
                <h5>Add relationship</h5> 
                <form> 
                    <div class="form-row">
                        <div class="form-group col-sm-3">
                            <input class="form-control form-control-sm" 
                                name="search-key-1" 
                                type="text" 
                                placeholder = "Key 1..."/>
                        </div>
                        <div class="form-group col-sm-3">
                            <input class="form-control form-control-sm" 
                                name="search-key-2" 
                                type="text" 
                                placeholder = "Key 2..."/>
                        </div>
                        <div class="form-group col-sm-4">
                            <select class="form-control form-control-sm" name="relationship-type">
                                <option>Campaign</option>
                                <option>Sub-event</option>
                                <option>Counterprotest</option>
                                <option>Solidarity</option>
                                <option>Coordinated</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-2">
                            <button type="submit" class="btn btm-primary">Add <span class="glyphicon glyphicon-plus"></span></button>
                        </div> 
                    </div>
                </form>
                <hr />
                <div class="form-row">
                    <h5>View hierarchy</h5> </br>
                    <div class="form-group col-sm-8">
                        <input class="form-control form-control-sm" 
                            name="view-key" 
                            type="text" 
                            placeholder = "Key..."/>
                    </div>
                    <p>
                        <img src="static/example-event-hierarchy.png" width="50%"/>                        
                    </p>
                </div>
            </div>     
        </div>
    </div>
    <div class="col-sm-7 adj-pane" id="adj-pane-expanded-view">
        <a id="cand-events-show" style="display:none;" href="#">Show Events &raquo;</a>
        <h4>Expanded Event View | 
            <a id="new_canonical" data-toggle="modal" 
                data-url="{{ url_for('modal_edit', form_type = 'canonical', mode = 'view') }}" 
                data-target="my_modal" href="#">New Canonical Event</a></h4>
        <div id="adj-grid">
            {% if canonical_event is none and cand_events.keys()|length == 0 %}
                <p class="info-block bg-info text-info">
                    Get started by selected or adding events.
                </p>
            {% else %}
                {% include 'adj-grid.html' %}
            {% endif %}
        </div>
      </div>
  </div>
</div>
{% endblock %}
