<div class="col-sm-2 expanded-event-variable-col canonical-event">
    {% if canonical_event[var]|length > 0 %}
    {% for value in canonical_event[var] %}
    <div class="expanded-event-variable canonical" id="expanded-event-canonical_{{ var }}">
        <div class="sticky-top data-buttons">
            <a class="glyphicon glyphicon-remove" title="Remove"></a> <a class="glyphicon glyphicon-info-sign" title="Info"></a>
        </div>
        {{ value | safe }}
    </div>
    {% endfor %}
    {% else %}
        <div class="expanded-event-variable canonical text-muted">(None)</div>
    {% endif %}
</div>