<div class="expanded-event-variable {{ 'canonical-dummy' if is_dummy else 'canonical' }}" 
    id="canonical-{{ var }}_{{ cel_id }}"
    data-var="{{ var }}"
    data-key="{{ cel_id }}">
    <div class="sticky-top data-buttons">
        {% if var == 'desc' %}
            <span class="glyphicon glyphicon-pencil" title="Edit description by clicking edit button at the top of this column."></span>
        {% else %}
            <a class="glyphicon glyphicon-remove remove-canonical" title="Remove"></a> 
            <a class="glyphicon glyphicon-info-sign" 
               title="Added on {{ timestamp }}"></a>
        {% endif %}
    </div>
    {{ value | safe }}
</div>