{% extends "layout.html" %}
{% block body %}
    <script src="{{ url_for('static', filename='shared.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='ec.js') }}" type="text/javascript"></script>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-6">
          <div class="error" id="flash-error" style="display:none;"></div>
          <div class="article" id="article_{{ aid }}">
            {{ text|safe }}
          </div>
        </div>
        <div class="col-xs-3">
          <div class="control-panel sticky">
	    <h4>Event descriptions</h4>
            <div id="list-events" class="varlist overflow-auto"></div>
          </div>
	</div>
        <div class="col-xs-3">
          <div class="control-panel sticky">
            <input type="hidden" name="pass_number" id="pass_number" value="ec" />
            <div id="secondpassinfo">
              <div id="article-annotation-blocks" class="varlist"></div>
              <div id="addeventblock">
                <div class="vartitle">
                  <span>Add event</span> 
                  <a id="add-event" class="glyphicon glyphicon-plus"></a>
                </div>
                <div id="event-blocks" class="varlist"></div>
              </div>
            </div>
            <button type="submit" class="btn btm-primary" id="mark-done">Mark Done and Go to Next &raquo;</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
