{% extends "layout.html" %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-xs-8">
		<h2>Welcome, {{ current_user.username|capitalize }}</h2>

		<div class="index">

            <h4>Event creator</h4>
            {% if current_user.authlevel <= 2 %}
	            <p><a href="{{ url_for('ecNext') }}">Event Coder Interface</a> | <a href="{{ url_for('userArticleList', pn = 'ec') }}">List</a></p>
	    {% else %}
	    <p><a href="{{ url_for('admin') }}">Admin Dashboard</a></p>

	    <p>Publication report</p>
	    <p>
	      <a href="{{ url_for('publications', db = 'uwire') }}">UWIRE</a> |
	      	      <a href="{{ url_for('publications', db = 'uwire2016-18') }}">UWIRE 2016-18</a> |
	      <a href="{{ url_for('publications', db = 'canadian-papers') }}">Canadian</a> |
	      <a href="{{ url_for('publications', db = 'hbcu-papers') }}">HBCUs</a>
	    </p>
	    
	    {% endif %}
			<p><a href="{{ url_for('coderStats') }}">Coder stats</a></p>
		</div>

    </div>
  </div>
</div>
{% endblock %}
