<!DOCTYPE HTML>
<html>
<head>
<title>MEPDS Cooder</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="Alexander Hanna">
<meta name="author" content="Yijing Bai">
<meta name="keywords" content="MPEDS Cooder" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<link href="{{ url_for('static', filename='css/style.css') }}" rel='stylesheet' type='text/css' />
<link href="{{ url_for('static', filename='css/font-awesome.css') }}" rel="stylesheet">
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"> </script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"> </script>

<!-- Mainly scripts -->
<script src="{{ url_for('static', filename='js/jquery.metisMenu.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.slimscroll.min.js') }}"></script>
<!-- Custom and plugin javascript -->
<link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">
<script src="{{ url_for('static', filename='js/custom.js') }}"></script>
<script src="{{ url_for('static', filename='js/screenfull.js') }}"></script>
		<script>
		$(function () {
			$('#supported').text('Supported/allowed: ' + !!screenfull.enabled);

			if (!screenfull.enabled) {
				return false;
			}

			$('#toggle').click(function () {
				screenfull.toggle($('#container')[0]);
			});

		});
		</script>
</head>
<body>
<div id="wrapper">
       <!----->
        <nav class="navbar-default navbar-static-top" role="navigation">
             <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               <h1> <a class="navbar-brand" href="">MPEDS Cooder</a></h1>
			   </div>
			 <div class=" border-bottom">

            <!-- Brand and toggle get grouped for better mobile display -->

		   <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="drop-men" >
		        <ul class=" nav_1">
					      <li class="dropdown">
		              <a id="user_{{ current_user.id }}" class="dropdown-toggle dropdown-at class="user_info"" data-toggle="dropdown"><span class=" name-caret">Logged in as {{ current_user.username|capitalize }}<i class="caret"></i></span></a>
		              <ul class="dropdown-menu " role="menu">
		                <li><a href="{{ url_for('logout') }}"><i class="fa fa-sign-out"></i>Logout</a></li>
		              </ul>
		            </li>
		        </ul>
		     </div><!-- /.navbar-collapse -->
			<div class="clearfix">

     </div>

		    <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">

                    <li>
                        <a href="index.html" class=" hvr-bounce-to-right"><i class="fa fa-dashboard nav_icon "></i><span class="nav-label">Dashboards</span> </a>
                    </li>
                    <li>
                        <a href="{{ url_for('dynamic_form') }}" class=" hvr-bounce-to-right"><i class="fa fa-tasks nav_icon "></i><span class="nav-label">FormSetup</span> </a>
                    </li>
                    <li>
                        <a href="{{ url_for('form_template_management') }}" class=" hvr-bounce-to-right"><i class="fa fa-tasks nav_icon "></i><span class="nav-label">FormManagement</span> </a>
                    </li>
                    <li>
                        <a href="#" class=" hvr-bounce-to-right"><i class="fa fa-cog nav_icon"></i> <span class="nav-label">Settings</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li><a href="signin.html" class=" hvr-bounce-to-right"><i class="fa fa-sign-in nav_icon"></i>Signin</a></li>
                            <li><a href="signup.html" class=" hvr-bounce-to-right"><i class="fa fa-sign-in nav_icon"></i>Singup</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
			</div>
        </nav>
		 <div id="page-wrapper" class="gray-bg dashbard-1">
       <div class="content-main">

 	<!--banner-->
	{% block banner %}
	{% endblock %}

		<!--//banner-->
 	 <!--faq-->
 	<div class="blank">
		{% block body %}{% endblock %}
 </div>

	<!--//faq-->
		<!---->
      <p class="text-muted">Report any errors with this interface to <a href="mailto:ahanna@ssc.wisc.edu">Alex Hanna</a>.</p>
		</div>
		</div>
		<div class="clearfix"> </div>
       </div>

<!---->
<!--scrolling js-->
	<script src="{{ url_for('static', filename='js/jquery.nicescroll.js') }}"></script>
	<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
	<!--//scrolling js-->
</body>
</html>
