{% extends "layout.html" %}
{% block body %}
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
        	<h3>Articles you've coded</h3>
        	<table class="table table-condensed table-striped">
        		<tr>
        			<th>&nbsp;</th>
        			<th>Title</th>
        			<th>Last updated</th>
        		</tr>
        		{% for aq, am in aqs %}
        		<tr>
                    {% if pn == 1 %}
            			<td><a href="{{ url_for('code1', aid = aq.article_id) }}">{{ aq.article_id }}</a></th>
            			<td>{{ am.title|safe }}</td>
            			<td>{{ aq.coded1_dt.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                    {% else %}
                        <td><a href="{{ url_for('code2', aid = aq.article_id) }}">{{ aq.article_id }}</a></th>
                        <td>{{ am.title|safe }}</td>
                        <td>{{ aq.coded_dt.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                    {% endif %}
        		</tr>
        		{% endfor %}
	        </table>
        </div>
      </div>
    </div>
{% endblock %}
