<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="l_my_modal">Add {{ variable|capitalize }}</h4>
</div>
<div class="modal-body">
  <div class="col-sm-12">
    <div id="modal-flash" class="alert" role="alert" style="display:none;"></div>
  </div>
  <form id="modal-form"> 
    <div class="form-group col-sm-12">
        <div class="form-row">
          {% if variable == 'canonical' %}
            <input class="form-control form-control-sm" 
                   name="canonical-event-key"
                   id="modal-canonical-event-key"
                   type="text"
                   value="{{ canonical_event_key if canonical_event_key != None else '' }}"
                   placeholder = "Canonical Event Key..."/>
           {% else %}
            <select class="form-control form-control-sm" name="article-id">
              <option value="">Select article</option>
              {% for article_id in article_ids %}
                <option value="{{ article_id }}">{{ article_id }}</option>
              {% endfor %}
            </select>
          {% endif %}
        </div>
      </div>
      <div class="form-group col-sm-12">
        <div class="form-row">
          {% if variable == 'canonical' %}
            <textarea class="form-control" 
              name="canonical-event-notes" 
              placeholder = "Notes...">{{ canonical_event_notes if canonical_event_notes != None else '' }}</textarea>
          {% elif variable == 'start-date' or variable == 'end-date' %}
            <div class="input-group date">
              <input class="form-control" 
                     type="text" 
                     name="value" 
                     value="" 
                     placeholder="Click calendar for date..." />
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          {% else %}
            <textarea class="form-control"
              name="value"
              placeholder = "Enter text for {{ variable }}..."></textarea>
          {% endif %}
          <input name="canonical-id" type="hidden" value="{{ canonical_event_id }}" />
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  <button type="button" 
    class="btn btn-primary" 
    name="modal-submit" 
    id="modal-submit">Save</button>
</div>
