<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="l_my_modal">Add Canonical Event</h4>
</div>
<div class="modal-body">
  <div class="col-sm-12">
    <div id="modal-flash" class="alert" role="alert" style="display:none;"></div>
  </div>
  <form id="modal-form"> 
    <div class="form-group col-sm-12">
        <div class="form-row">
            <input class="form-control form-control-sm" 
                  name="canonical-event-key"
                  type="text" 
                  placeholder = "Canonical Event Key..."/>
        </div>
      </div>
      <div class="form-group col-sm-12">
        <div class="form-row">
            <textarea class="form-control" 
              name="canonical-event-notes" 
              placeholder = "Notes..."></textarea>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  <button type="button" 
    class="btn btn-primary" 
    name="modal-submit" 
    id="modal-submit">Save</button>
</div>
